<div class='post'>
  <h1> Hi <%=@user.username %> !<h1>
  <% if @posts.empty? %>
    <h1> You haven't written any reviews yet. Want to write one? </h1>
    <%= render partial: "./posts/new", layout: false%>
  <% else %>
    <% if @posts.count == 1 %>
      <h1> You have written one post. <h1>
    <% else %>
      <h1> You have written <%=@posts.count%> posts. </h1>
    <% end %>
    <h1> Your average rating is <%=@user.average_rating %> </h1>
  <% end %>
</div>


<% @posts.each do |post| %>
  <ol class='post'>
    <li><%= link_to post.studio_name, post_path(post) %></li><br/>
    <li><%=post.title%></li>
    <li>Rating: <%=post.rating%></li>
    <li>Written by: <%=post.author_username%> on <%=long_form_date(post.updated_at)%> </li><br/>
    <li><%= post.content %></li>
    <% if post.author == current_user %>
      <li><%= link_to 'Edit Post', edit_post_path(post), :id => 'button' %></li>
      <li><%= link_to 'Delete Post', post_path(post),
          method: :delete,
          data: {confirm: 'Are you sure you want to delete this post?'}, :id => 'button' %></li>
    <% end %>
  </ol>
<% end %>